

<div class="card p-0 m-5"  routerLink="/detail/{{bd.id}}">

  <div class="card-header">
    <h4>{{bd.title}}</h4>
  </div>

  <div class="card-body">
<!--    <div class="row mb-2 align-bottom">-->
<!--      <div class="col-12 mx-auto align-bottom">-->
        <img *ngIf="bd.photos[0].photo" [src]="'data:image/jpeg;base64,' + bd.photos[0].photo" class="w-100">
<!--      </div>-->
<!--    </div>-->
  </div>

  <div class="card-footer">
<!--    <h4>{{bd.statutpossession.statut}}</h4>-->
    TEST
  </div>

</div>
