
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header text-white bg-info">
      <h4 class="modal-title">Formulaire nouvelle édition</h4>
      <button type="button" class="btn-close" data-bs-target="#newBdModal" data-bs-toggle="modal" data-bs-dismiss="modal"></button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <form [formGroup]="editionForm">
        <div class="form-floating mt-3 mb-3">
          <input type="text" class="form-control" id="name" placeholder="Nom" formControlName="name">
          <label for="name">Nom</label>
        </div>
      </form>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button (click)="validForm()"
              [disabled]="!editionForm.valid"
              [ngClass]="editionForm.valid ? 'btn btn-outline-success': 'btn btn-outline-danger'"
              data-bs-target="#newBdModal"
              data-bs-toggle="modal"
              data-bs-dismiss="modal">
        Valider édition
      </button>
<!--      <button class="btn btn-outline-success" data-bs-target="#newBdModal" data-bs-toggle="modal" data-bs-dismiss="modal">Valider édition</button>-->
    </div>

  </div>
</div>
