
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Formulaire nouvelle édition</h4>
      <button type="button" class="btn-close" data-bs-target="#newBdModal" data-bs-toggle="modal" data-bs-dismiss="modal"></button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">

      <div class="form-floating mt-3 mb-3">
        <input type="text" class="form-control" id="lastname" placeholder="Nom" name="lastname">
        <label for="lastname">Nom</label>
      </div>

    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button class="btn btn-outline-success" data-bs-target="#newBdModal" data-bs-toggle="modal" data-bs-dismiss="modal">Valider édition</button>
    </div>

  </div>
</div>
