<p>login works!</p>



<!-- Cards with media area -->
<mat-card class="example-card">

  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <mat-form-field appearance="outline">
      <mat-label>Login</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

  </mat-card-content>
</mat-card>

