<app-bd-header></app-bd-header>

<div class="text-center my-5">
  <button class="btn btn-outline-info" (click)="ajoutArtiste()">Ajout Artiste</button>
</div>

<div class="row row-cols-1 row-cols-md-6 g-4 m-2">
  <div class="card h-100 mx-2 px-0" *ngFor="let artist of listArtist" >

    <div class="card-header py-3"></div>
    <div class="card-body" (click)="editArtist(artist)">
      <div>
        Nom : {{artist.lastname}}
      </div>
      <div>
        Prénom : {{artist.firstname}}
      </div>
    </div>

    <div class="card-footer text-center">
      <button class="btn btn-outline-danger" (click)="delArtist(artist.id)">Supprimer</button>
    </div>

  </div>
</div>


